html {
	font-size: 1em;
	font-family: 'Raleway', sans-serif;
	text-align: justify;
}

/*resize image for page*/
#jared {
	max-width: 40%;
	max-height: 40%;
	display: block;
	margin: 0 auto;
}

h1 {
	text-align: center;
}

p {
	padding: 15px 100px;
	text-align: justify;
}